* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(119, 119, 119);
}

.parallax {
    height: 30vh;
    position: relative;
    display: flex;
    background-image: url('parallax-jpg.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.parallax-content {
    text-align: center;
    font-size: 1.5vw;
    transition: 2s;
    margin-bottom: 10vh;
}

.navigation {
    background-color: #333;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 0 0 30px 30px;
}

.navigation li {
    margin: 10px 100px;
}

.navigation li a {
    display: flex;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 2vw;
    transition: background-color 1s, transform 0.2s;
    transition: 1s;
}

.navigation li a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    scale: 1.3;
    border-radius: 10px;
}

.grid-content {
    display: grid;
    margin: 5vh 5%;
    height: 50vh;
    width: 90%;
    gap: 10vh;
    grid-template-columns: 45% 50%;
}

.content-text {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.content-text a {
    align-items: normal;
    font-size: 1em;
    display: flex;
    text-wrap-mode: wrap;
    width: 90%;
    margin-left: 20px;
}

.content-text a, h1 {
    margin-top: 100px;
    justify-content: center;
    text-align: center;

}

.content-img {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    border-radius: 20px;
}

.img-kolonka{
    width: 90%;
    height: 90%;
}

.grid-image{
    display: grid;
    margin-left: 10%;
    margin-right: 15%;
    height: 400vh;
    margin-bottom: 10vh;
    margin-top: 5vh;
    width: 80%;
    grid-template-columns: 40% 50%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    opacity: 0;
    transform: translateY(20px); /* Сдвиг вниз */
    transition: opacity 0.6s ease, transform 0.6s;
}

.grid-image.visible{
    opacity: 1;
    transform: translateY(60px); /* Сдвиг вниз */
    transition: opacity 2s ease, transform 0.6s;
}

.img-team{
    width: 70%;
    margin: 50px;
}


.text-team{
    margin-top: 31%;
    font-size: 38px;
    color: white;
}


.order-team-text{
    display: flex;
    font-size: 50px;
    margin-top: 2%;
    margin-right: 30%;
    margin-left: 35%;
    color: white;
}

.img-logo{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    display: grid;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10%;
    margin-right: 15%;
    width: 80%;
    grid-template-columns: 40% 50%;
}

.img-logo a{
    margin-top: 37%;
    font-size: 38px;
    color: white;
}

.img-logo img{
    width: 100%;
    margin: 50px;
}


@media (max-width: 700px) {
    .grid-content {
        height: 100vh;
        gap: 1vh;
        grid-template-columns: 100%;
        display: block;
    }

    .navigation li {
        margin: 30px 100px;
    }

    .content-text a {
        align-items: normal;
        justify-content: left;
        text-align: left;
        display: flex;
    }

    .content-text h1 {
        font-size: 7vw;
        margin-top: 40px;
    }

    .content-text a {
        font-size: 5vw;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 25px;
    }

    .img-kolonka{
        height: 25vh;
        width: 30vh;
    }

    .content-img{
        height: 30%;
        margin-bottom: 10px;
    }

    .navigation li a{
        font-size: 6vw;
    }

    .parallax-content{
        font-size: 4vw;
    }

    .img-team{
        width: 90%;
        margin: 50px;
    }
    
    .grid-image{
        display: grid;
        margin-left:0 ;
        margin-right: 0;
        height: 200vh;
        width: 95%;
        grid-template-columns: 30% 70%;
        margin: 0 auto;
    }
    
    .text-team{
        margin-top: 31%;
        margin-right: 4%;
        font-size: 16px;
        color: white;
        margin-left: 60px;
    }
    .order-team-text{
        display: flex;
        font-size: 30px;
        margin-top: 0;
        margin-right: 15%;
        margin-left: 15%;
        color: white;
    }

    .img-logo{
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 30px;
        display: grid;
        margin: 0 auto;
        height: 25vh;
        width: 95%;
        margin-top: 2vh;
        margin-bottom: 1vh;
        grid-template-columns: 30% 70%;
    }
    

    .img-logo a{
        margin-top: 12%;
        font-size: 16px;
        color: white;
        margin-left: 60px;
    }
}